body{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Arial, sans-serif;
    background: #f0f0f0;
}
header{
    background: linear-gradient(to right, #00a6a6, #0070b8);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}
footer{
    background: linear-gradient(to right, #00a6a6, #0070b8);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 30px;
}
h1{
    margin: 0;
    margin-bottom: 50px;
}
nav{
    background: linear-gradient(to right, #00a6a6, #0070b8);
    box-shadow: 0px 7px 10px rgba(0, 0, 0, .1);
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #0070b8, #00a6a6);
    width: 100%;
}
nav ul li{
    margin: 10px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: 0,5s ease;
}
nav ul li a:hover,
nav ul li a:active{
    background-color: #005f5f;
}
.container{
    width: 95%;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}
.library{
    width: auto;
    text-align: center;
}
.library h2{
    color: #333;
}
.library{
    color: #666;
}
.pos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 280px;
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #0070b8;
    padding: 10px;
    margin: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.1);
    border: 1px solid #00a6a6;
}
.card-image{
    width: 250px;
    margin: 0 auto 10px;
}
.card-image img{
    width: 250px;
    height: 150px;
}
.card-details{
    text-align: center;
    flex-grow: 1;
}
.book-title{
    font-size: 1.2rem;
    color: #333;
}
.book-details{
    color: #777
}
.button{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}
.btn{
    flex: 1;
    text-align: center;
    padding: 10px 20px;
    margin: 0 5px auto;
    background-color: #00a6a6;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn:hover{
    background-color: #0070b8;
}
p{
    padding: 10px;
}
.iframe{
    margin-top: 50px;
    width: 600px;
    height: 450px;
}
section h3 {
text-align: center;
padding: 20px 0;
margin-bottom: 25px;
}
.about, 
.service{
    padding-bottom: 100px;
}
h3{
text-align: center;
padding: 20px ;
margin-bottom: 50px;
}
